{%extends "blog/base.html"%}
{%block content%}
    
<section>
<h2>Our Mission</h2>
<p>Our mission is to provide valuable content and resources to our readers. We strive to create a community where knowledge and ideas can be shared freely.</p>
</section>

<section>
<h2>Our Team</h2>
<p>We are a group of passionate individuals dedicated to bringing you the best content possible. Our team consists of writers, editors, and developers who work tirelessly to ensure the quality of our website.</p>
</section>
    
{%endblock content%}
