{% extends "blog/base.html" %} 
{% comment %} User profiel shown with its posts {% endcomment %}
{% block content %}

<h2 class='mb-3'>Post By {{view.kwargs.username}}({{page_obj.paginator.count}})</h2>
{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" >{{ post.author }}</a>
        <small class="text-muted">{{ post.date | date:"F d, Y"}}</small>
      </div>
      <h2><a class="article-title" href="{%url 'post-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
{% empty %}
    <p>No posts available.</p>
{% endfor %}

{%if is_paginated%}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb=5" href="?page=1">&laquo; FIRST</a>
            <a class="btn btn-outline-info mb=5" href="?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
        {% endif %}

        {%for num in page_obj.paginator.page_range%}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb=5" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb=5" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {%endfor%}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb=5" href="?page={{ page_obj.next_page_number }}">NEXT</a>
            <a class="btn btn-outline-info mb=5" href="?page={{ page_obj.paginator.num_pages }}">LAST &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}
